@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*----------------------------Navbar
.navbar-brand {
    font-size: 30px;
    font-weight: 400;
    word-spacing: 8px;
    letter-spacing: 4px;
}

.navbar li {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}


.navbar-text {
    letter-spacing: 2px;
    word-spacing: 4px;
    color: #fafafa;
}



/*----------------------------Hero Image*/

.hero-image {
  background-image: url("../images/hero.png");
  height: 800px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-box , .hero-text-box h1 {
    color: #fafafa;
}


hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron {
    background-color: rgba(32, 180, 248, 0.6);
    padding: 20 20 20 20;

}

.jumbotron-header {
    color: #fafafa;
    font-size: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}


/*----------------------------Footer*/

.social-links li {
    display: inline;
    color: #fafafa;
    padding: 50px;
}

.footer-headings {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-weight: 300;
}


footer {
    color: #fafafa;
    background-color: #343a40;
}


.school-info {
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
}

/*----------------------------Contact Page*/

.contact-page-heading {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-weight: 300; 
}

.entry-needs {
     font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
}

.contact-school {
   font-family: 'Roboto',sans-serif;
}

